body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px; 
}
.orange-color{
    color: orange;
}
.pink-color{
    color: rgb(233, 102, 200);
}
h3{
    text-align: justify;
}
section {
    display: flex;
}
.container{
    width: 50%;
    padding: 0px 20px 0px 40px;
}
.bg-img{
    width: 500px;
    margin: 20px;
    padding: 30px 0px 0px 50px;
}
.bg-img2{
    width: 500px;
    margin: 20px;
    padding:30px 0px 0px 50px;
}
.follow, .github{
    color: white;
    text-decoration: none;
    background-color: rgb(230, 119, 78);
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
} 
.experience-section div{
    width: 45%;
    padding: 30px;
    margin: 10px 50px;
    border-left: 8px solid rgb(166, 193, 235);
    box-shadow: 5px 10px 20px rgb(61, 60, 60);
}
.experience-section {
    background-image: url(images/shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.present{
    color:rgb(63, 107, 250);
}
footer p{
    text-align: center;
    color: orange;
}
